{% extends "layout.html" %}
{% block content %}
<div class="content-section">
 <h1>Get insights into Hostelworld reviews</h1>
 <br>
 <p class="buttonwrap">
 <a href=analyse-reviews><button>Analyse Hostel Reviews Now</button></a>
  </p>
 <br>
<p>Ever ended up in a hostel with a high rating on Hostelworld but had a terrible experience? Me too! Having travelled across the world and stayed in 100’s of hostels I noticed:</p>
 <ul>
  <li>Travellers may leave a good rating for a hostel and then express their issues with the hostel in the text review</li>
  <li>Hostelworld use certain aspects of your stay to calculate an overall rating. Some travellers may have had a terrible experience overall but still give aspects such as location or staff a good rating which may falsely lead to a high rating. In this case the text review is likely to be more informative than the rating </li>
  <li>Old reviews of a hostel may no longer be relevant but still contribute to the overall rating. Recent text reviews are most accurate</li>
  <li>To get the true feel of the positives and negatives of a hostel you have to read through multiple text reviews</li>
 </ul>
 <p>HW-Reviews analyses the text reviews of a hostel you are interested to give you true insight into previous travellers experiences.</p>
</form>

 </div>
<style>
ul {
    align:center;
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2c3e50;
}
</style>
{% endblock content %}