{% extends "layout.html" %}
{% block content %}
<div class="content-section">
 <h1>Get insights into Hostelworld reviews</h1>
 <br>
 <p class="buttonwrap">
 <a href=submit-url><button>Analyse Hostel Reviews Now</button></a>
  </p>
 <br>
<p>Ever ended up in a hostel with a high rating on Hostelworld but had a terrible experience? Then you have come to the right place!</p>
 <p>HW-Reviews aims to analyse Hostelworld hostel reviews in more detail to gain a better understanding of a hostel before visiting and identify any inaccuracies in ratings. Insights include:</p>
 <ul>
 <li>A predicted rating of a hostel solely based on the text reviews previous visitors have left. Hostelworld use certain aspects of your stay to calculate an overall rating. Some travellers may have had a terrible experience overall but still give aspects such as location or staff a good rating which may lead to an inflated overall rating. In this case the text review is likely to be more informative than the rating</li>
 <li>Reviews where the rating a visitor provided and the predicted rating based on the text they wrote differ</li>
  <li>A list of positive and negative sentences visitors have left in reviews to help identify strengths and flaws of a hostel</li>
 </ul>
 <p>Click the orange button above to get started!</p>
</form>
 </div>

{% endblock content %}